In [1]:
#Import pandas for data manipulation
import pandas as pd

In [2]:
#maximize how much will be displayed
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_colwidth', None)

In [3]:
#declare variables for file location of where the Excel file is stored to import and destination of where to export Excel
file_location = r'C:\Users\User\Documents\Python\FY21DebtSummary.xlsx'
destination_location = r'C:\Users\User\Documents\Python\Test2.xlsx'
destination_location2 = r'C:\Users\User\Documents\Python\Test1.xlsx'

In [4]:

#test import of excel and creating blank column for Bond Series
df = pd.read_excel(file_location, sheet_name='21B')
df['Series'] = ''
df

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2021 Series B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accrued,Accrued,Allocation,NaN,FY 2021,Allocation,Allocation,NaN,FY 2021,Allocation,NaN,NaN,
3,NaN,NaN,NaN,NaN,Allocation,FY 2021,NaN,FY 2021,Interest,Interest,of Unamort.,Allocation,Amortization,of Unamort.,of Unamort.,Allocation,Amortization,of Unamort.,FY 2021,FY 2021,
4,NaN,NaN,Academic,Debt,of,Principal,Debt,Interest,Payable,Payable,Premium/(Dis),of,of,Premium/(Dis),Loss/(Gain),of,of,Loss/(Gain),Interest,Capitalized,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Total Projects,NaN,NaN,0,108530000,0,108530000,0,0,0,0,-527,0,-527,0,2265190,0,2265190,0,0,
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
175,NaN,NaN,NaN,NaN,237285000,58422271,-1976661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9444532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [5]:
#Designate the column headers for the data and put them in a list
column_list = ['Project',
               'Institution',
               'Academic/Auxiliary',
               'Debt_Old',
               'Allocation_of_debt',
               'FY_2021Principal_Paid',
               'Debt_New',
               'FY_2021InterestPaid',
               'Accrued_InterestPayable_Old',
               'Accrued_InterestPayable_New',
                'Allocation_of_Unamort.Premium/(Dis)_Old',
               'Allocation_of_Premium/(Dis)',
               'FY_2021AmortizationofPremium/(Dis)',
               'Allocation_of_Unamort.Premium/(Dis)_New',
               'Allocation_of_Unamort.Loss/(Gain)_Old',
               'Allocationof_Loss/(Gain)',
               'FY_2021AmortizationofLoss/(Gain)',
               'Allocation_of_Unamort.Loss/(Gain)_New',
               'FY_2021InterestExpense',
               'FY_2021CapitalizedInterest',
               'Series'
]

In [6]:
#set the columns of the data frame equal to the column list headers
df.columns = column_list

In [7]:
#test the data frame to see if the headers are there
df

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,2021 Series B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accrued,Accrued,Allocation,NaN,FY 2021,Allocation,Allocation,NaN,FY 2021,Allocation,NaN,NaN,
3,NaN,NaN,NaN,NaN,Allocation,FY 2021,NaN,FY 2021,Interest,Interest,of Unamort.,Allocation,Amortization,of Unamort.,of Unamort.,Allocation,Amortization,of Unamort.,FY 2021,FY 2021,
4,NaN,NaN,Academic,Debt,of,Principal,Debt,Interest,Payable,Payable,Premium/(Dis),of,of,Premium/(Dis),Loss/(Gain),of,of,Loss/(Gain),Interest,Capitalized,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Total Projects,NaN,NaN,0,108530000,0,108530000,0,0,0,0,-527,0,-527,0,2265190,0,2265190,0,0,
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
175,NaN,NaN,NaN,NaN,237285000,58422271,-1976661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9444532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [8]:
#Test filtering data frame by Towson University
df_21B = df[(df['Institution'] == 'TU')]

#~ means not like !=
"""dfg
dfsdfgsdf
"""
df_21B = df_21B[~df_21B['Project'].isnull()]
df_21B['Series'] = '21B'
df_21B

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
26,New College of Liberal Arts,TU,Academic,NaN,71894,NaN,71894,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-1496,NaN,-1496,0,NaN,21B
27,Facilities Renewal,TU,Academic,NaN,34842,NaN,34842,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-725,NaN,-725,0,NaN,21B
46,Burdick Renov,TU,Auxiliary,NaN,469937,NaN,469937,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-9778,NaN,-9778,0,NaN,21B
47,Residence Halls Renov,TU,Auxiliary,NaN,601030,NaN,601030,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-12505,NaN,-12505,0,NaN,21B
48,Student Housing-West Village PHII,TU,Auxiliary,NaN,7921,NaN,7921,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-165,NaN,-165,0,NaN,21B
49,Towson Center,TU,Auxiliary,NaN,6319392,NaN,6319392,NaN,NaN,NaN,NaN,-31,NaN,-31,NaN,-131483,NaN,-131483,0,NaN,21B
50,West Village Parking Structure,TU,Auxiliary,NaN,241022,NaN,241022,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-5015,NaN,-5015,0,NaN,21B
51,West Village Dining Commons,TU,Auxiliary,NaN,5862,NaN,5862,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-122,NaN,-122,0,NaN,21B
52,West Village Infrastructure & Site Improv,TU,Auxiliary,NaN,1588,NaN,1588,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-33,NaN,-33,0,NaN,21B
82,New College of Liberal Arts,TU,Academic,NaN,13386,NaN,13386,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,502,NaN,502,NaN,NaN,21B
83,Facilities Renewal,TU,Academic,NaN,1917124,NaN,1917124,NaN,NaN,NaN,NaN,-9,NaN,-9,NaN,71947,NaN,71947,NaN,NaN,21B
102,Rec Bldg Ph 2,TU,Auxiliary,NaN,1002124,NaN,1002124,NaN,NaN,NaN,NaN,-5,NaN,-5,NaN,37608,NaN,37608,NaN,NaN,21B
103,Burdick Renov,TU,Auxiliary,NaN,4200904,NaN,4200904,NaN,NaN,NaN,NaN,-20,NaN,-20,NaN,157653,NaN,157653,NaN,NaN,21B
104,Residence Hall Renov,TU,Auxiliary,NaN,1003,NaN,1003,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,38,NaN,38,NaN,NaN,21B
105,Residence Tower Renov,TU,Auxiliary,NaN,7214,NaN,7214,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,271,NaN,271,NaN,NaN,21B
106,Student Housing-West Village Ph II,TU,Auxiliary,NaN,22825000,NaN,22825000,NaN,NaN,NaN,NaN,-111,NaN,-111,NaN,1718211,NaN,1718211,NaN,NaN,21B
107,Towson Center Arena,TU,Auxiliary,NaN,1961,NaN,1961,NaN,NaN,NaN,NaN,-1,NaN,-1,NaN,74,NaN,74,NaN,NaN,21B
108,West Village Parking Structure,TU,Auxiliary,NaN,67009,NaN,67009,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2515,NaN,2515,NaN,NaN,21B

In [9]:
#Pull data from tab 12AB and set equal to dataframe df_12AB. Create Series column showing the Bond Series name
df_12AB = pd.read_excel(file_location, sheet_name='12AB')
df_12AB['Series'] = '12AB'
df_12AB

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2012 Series A&B Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@ 6/30/20,NaN,NaN,@ 06/30/21,@ 6/30/20,NaN,FY 2021,@ 06/30/21,@ 6/30/20,@ 06/30/21,NaN,NaN,12AB
4,NaN,NaN,NaN,Long-term,NaN,Principal,Long-term,FY 2021,Allocation,NaN,FY 2021,Allocation,Allocation,NaN,Amortization,Allocation,Accrued,Accrued,FY 2021,Capitalize,12AB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,UMBC,NaN,NaN,458982,0,401,458581,9180,16382,0,5464,10918,-26215,0,-8738,-17477,2295,2293,-5024,0,12AB
238,UMCES,NaN,NaN,32443,0,28,32415,648,1160,0,386,774,-1851,0,-618,-1233,162,162,-356,0,12AB
239,USM Office,NaN,NaN,3057607,0,720704,2336903,91036,22634,0,5802,16832,297807,0,74216,223591,22758.5,17894,154585.5,0,12AB
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
241,Totals,NaN,NaN,15490002,NaN,2345000,13145002,406802,272607,0,85192,187415,520073,0,102774,417299,101700,85881.5,408565.5,0,12AB

In [10]:
#Rearrange column to fit the same order as other tabs in the spreadsheet
df_12AB8 = df_12AB.pop("Unnamed: 8")
df_12AB.insert(10,'Allocation_of_Unamort.Premium/(Dis)_Old',df_12AB8)

In [11]:
df_12AB

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 10,Allocation_of_Unamort.Premium/(Dis)_Old,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2012 Series A&B Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@ 6/30/20,@ 06/30/21,@ 6/30/20,NaN,FY 2021,@ 06/30/21,@ 6/30/20,@ 06/30/21,NaN,NaN,12AB
4,NaN,NaN,NaN,Long-term,NaN,Principal,Long-term,FY 2021,NaN,FY 2021,Allocation,Allocation,Allocation,NaN,Amortization,Allocation,Accrued,Accrued,FY 2021,Capitalize,12AB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,UMBC,NaN,NaN,458982,0,401,458581,9180,0,5464,16382,10918,-26215,0,-8738,-17477,2295,2293,-5024,0,12AB
238,UMCES,NaN,NaN,32443,0,28,32415,648,0,386,1160,774,-1851,0,-618,-1233,162,162,-356,0,12AB
239,USM Office,NaN,NaN,3057607,0,720704,2336903,91036,0,5802,22634,16832,297807,0,74216,223591,22758.5,17894,154585.5,0,12AB
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
241,Totals,NaN,NaN,15490002,NaN,2345000,13145002,406802,0,85192,272607,187415,520073,0,102774,417299,101700,85881.5,408565.5,0,12AB

In [12]:
df_12AB9 = df_12AB.pop("Unnamed: 9")
df_12AB.insert(10,'Allocation_of_Premium/(Dis)',df_12AB9)

In [13]:
df_12AB

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 10,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2012 Series A&B Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@ 6/30/20,NaN,@ 06/30/21,@ 6/30/20,NaN,FY 2021,@ 06/30/21,@ 6/30/20,@ 06/30/21,NaN,NaN,12AB
4,NaN,NaN,NaN,Long-term,NaN,Principal,Long-term,FY 2021,FY 2021,Allocation,NaN,Allocation,Allocation,NaN,Amortization,Allocation,Accrued,Accrued,FY 2021,Capitalize,12AB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,UMBC,NaN,NaN,458982,0,401,458581,9180,5464,16382,0,10918,-26215,0,-8738,-17477,2295,2293,-5024,0,12AB
238,UMCES,NaN,NaN,32443,0,28,32415,648,386,1160,0,774,-1851,0,-618,-1233,162,162,-356,0,12AB
239,USM Office,NaN,NaN,3057607,0,720704,2336903,91036,5802,22634,0,16832,297807,0,74216,223591,22758.5,17894,154585.5,0,12AB
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
241,Totals,NaN,NaN,15490002,NaN,2345000,13145002,406802,85192,272607,0,187415,520073,0,102774,417299,101700,85881.5,408565.5,0,12AB

In [14]:
df_12AB10 = df_12AB.pop("Unnamed: 10")
df_12AB.insert(10,'FY_2021AmortizationofPremium/(Dis)',df_12AB10)

In [15]:
df_12AB

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2012 Series A&B Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@ 6/30/20,NaN,NaN,@ 06/30/21,@ 6/30/20,NaN,FY 2021,@ 06/30/21,@ 6/30/20,@ 06/30/21,NaN,NaN,12AB
4,NaN,NaN,NaN,Long-term,NaN,Principal,Long-term,FY 2021,Allocation,NaN,FY 2021,Allocation,Allocation,NaN,Amortization,Allocation,Accrued,Accrued,FY 2021,Capitalize,12AB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,UMBC,NaN,NaN,458982,0,401,458581,9180,16382,0,5464,10918,-26215,0,-8738,-17477,2295,2293,-5024,0,12AB
238,UMCES,NaN,NaN,32443,0,28,32415,648,1160,0,386,774,-1851,0,-618,-1233,162,162,-356,0,12AB
239,USM Office,NaN,NaN,3057607,0,720704,2336903,91036,22634,0,5802,16832,297807,0,74216,223591,22758.5,17894,154585.5,0,12AB
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
241,Totals,NaN,NaN,15490002,NaN,2345000,13145002,406802,272607,0,85192,187415,520073,0,102774,417299,101700,85881.5,408565.5,0,12AB

In [16]:
df_12AB16 = df_12AB.pop("Unnamed: 16")
df_12AB.insert(8,'Accrued_InterestPayable_Old',df_12AB16)

In [17]:
df_12AB

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Accrued_InterestPayable_Old,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2012 Series A&B Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@ 6/30/20,@ 6/30/20,NaN,NaN,@ 06/30/21,@ 6/30/20,NaN,FY 2021,@ 06/30/21,@ 06/30/21,NaN,NaN,12AB
4,NaN,NaN,NaN,Long-term,NaN,Principal,Long-term,FY 2021,Accrued,Allocation,NaN,FY 2021,Allocation,Allocation,NaN,Amortization,Allocation,Accrued,FY 2021,Capitalize,12AB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,UMBC,NaN,NaN,458982,0,401,458581,9180,2295,16382,0,5464,10918,-26215,0,-8738,-17477,2293,-5024,0,12AB
238,UMCES,NaN,NaN,32443,0,28,32415,648,162,1160,0,386,774,-1851,0,-618,-1233,162,-356,0,12AB
239,USM Office,NaN,NaN,3057607,0,720704,2336903,91036,22758.5,22634,0,5802,16832,297807,0,74216,223591,17894,154585.5,0,12AB
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
241,Totals,NaN,NaN,15490002,NaN,2345000,13145002,406802,101700,272607,0,85192,187415,520073,0,102774,417299,85881.5,408565.5,0,12AB

In [18]:
#Rearrangle columns and bring over headers
df_12AB17 = df_12AB.pop("Unnamed: 17")
df_12AB.insert(9,'Accrued_InterestPayable_New',df_12AB17)
df_12AB.columns = column_list

In [19]:
df_12AB

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,2012 Series A&B Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@ 6/30/20,@ 06/30/21,@ 6/30/20,NaN,NaN,@ 06/30/21,@ 6/30/20,NaN,FY 2021,@ 06/30/21,NaN,NaN,12AB
4,NaN,NaN,NaN,Long-term,NaN,Principal,Long-term,FY 2021,Accrued,Accrued,Allocation,NaN,FY 2021,Allocation,Allocation,NaN,Amortization,Allocation,FY 2021,Capitalize,12AB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,UMBC,NaN,NaN,458982,0,401,458581,9180,2295,2293,16382,0,5464,10918,-26215,0,-8738,-17477,-5024,0,12AB
238,UMCES,NaN,NaN,32443,0,28,32415,648,162,162,1160,0,386,774,-1851,0,-618,-1233,-356,0,12AB
239,USM Office,NaN,NaN,3057607,0,720704,2336903,91036,22758.5,17894,22634,0,5802,16832,297807,0,74216,223591,154585.5,0,12AB
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12AB
241,Totals,NaN,NaN,15490002,NaN,2345000,13145002,406802,101700,85881.5,272607,0,85192,187415,520073,0,102774,417299,408565.5,0,12AB

In [20]:
#import data from tab 21A
df_21A = pd.read_excel(file_location, sheet_name='21A')

In [21]:
#Create column for Series number 21A
df_21A['Series'] = '21A'

In [22]:
#Rearrange columns and also bring over the headers
df_21A1 = df_21A.pop("University System of Maryland")
df_21A.insert(0,'Project',df_21A1)
df_21A.columns = column_list

In [23]:
df_21A

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,2021 Series A Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21A
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21A
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21A
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21A
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,UMBC,NaN,NaN,0,17959808,0,17959808,0,0,0,0,826739,0,826739,0,-177329,0,-177329,0,0,21A
381,UMCES,NaN,NaN,0,643209,0,643209,0,0,0,0,124305,0,124305,0,10460,0,10460,0,0,21A
382,USM Office,NaN,NaN,0,51073874,0,51073874,0,0,3318010,0,49998606,0,49998606,0,37359,0,37359,3318010,0,21A
383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21A
384,Totals,NaN,NaN,0,237285000,0,237285000,0,0,3318010,0,58422271,0,58422271,0,-1976661,0,-1976661,3318010,0,21A

In [24]:
#import data from tab 16B
df_16B = pd.read_excel(file_location, sheet_name='16B')

In [25]:
#create column for Series number with 16B value
df_16B['Series'] = '16B'

In [26]:
df_16B

,University System of Maryland,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,"Allocation of accrued interest payable, unamortized discount/Premium - 2016 Series B",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
1,As of FYE 6/30/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Interest,Allocated,Allocated,Allocated,NaN,NaN,Allocated,Allocated,NaN,NaN,Allocated,NaN,NaN,16B
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Expense,Accrued Interest,Accrued Interest,Unamortized,NaN,FY 2021,Unamortized,Unamortized,NaN,FY 2021,Unamortized,FY 2021,FY 2021,16B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,NaN,USMH,NaN,90149,0,44348,45801,3620,905,572.5,5993,0,2992,3001,3236,0,1612,1624,1907.5,0,16B
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
209,NaN,Totals,NaN,57355001,0,4970000,52385001,2482828,625117,583433,7399710,0,1008008,6391702,3956613,0,540172,3416441,1973308,0,16B
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
211,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,0,0,16B

In [27]:
#rearrange columns
df_16B1 = df_16B.pop("Unnamed: 1")
df_16B.insert(0,'Project',df_16B1)
df_16B.columns = column_list

In [28]:
df_16B

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,NaN,"Allocation of accrued interest payable, unamortized discount/Premium - 2016 Series B",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
1,NaN,As of FYE 6/30/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Interest,Allocated,Allocated,Allocated,NaN,NaN,Allocated,Allocated,NaN,NaN,Allocated,NaN,NaN,16B
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Expense,Accrued Interest,Accrued Interest,Unamortized,NaN,FY 2021,Unamortized,Unamortized,NaN,FY 2021,Unamortized,FY 2021,FY 2021,16B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,USMH,NaN,NaN,90149,0,44348,45801,3620,905,572.5,5993,0,2992,3001,3236,0,1612,1624,1907.5,0,16B
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
209,Totals,NaN,NaN,57355001,0,4970000,52385001,2482828,625117,583433,7399710,0,1008008,6391702,3956613,0,540172,3416441,1973308,0,16B
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16B
211,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,0,0,16B

In [29]:
#import data from tab 15A
df_15A = pd.read_excel(file_location, sheet_name='15A')

In [30]:
#create column for series number 15A
df_15A['Series'] = '15A'

In [31]:
#rearrange columns and bring over column headers
df_15A1 = df_15A.pop("Unnamed: 1")
df_15A.insert(0,'Project',df_15A1)
df_15A.columns = column_list

In [32]:
df_15A

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,NaN,"Allocation of accrued interest payable, unamortized Premium - 2015 Series A",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15A
1,NaN,As of FYE 6/30/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15A
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15A
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Interest,Allocated,Allocated,Allocated,NaN,NaN,Allocated,Allocated,NaN,NaN,Allocated,NaN,NaN,15A
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Expense,Accrued Interest,Accrued Interest,Unamortized,NaN,FY 2021,Unamortized,Unamortized,NaN,FY 2021,Unamortized,FY 2021,FY 2021,15A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,UMBC,NaN,NaN,3608236,0,1423412,2184824,161664,40416,22623,297563,0,120735,176828,159520.77911,0,44913,114607.77911,68049,0,15A
275,CEES,NaN,NaN,164197,0,53900,110297,7264,1816,1142,13553,0,4633,8920,7621.629826,0,1832,5789.629826,3789,0,15A
276,USMH,NaN,NaN,5251377,0,560646,4690731,222318,55579.5,48571.5,434471,0,54877,379594,281354.181564,0,35341,246013.181564,195774,0,15A
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15A
278,Totals,NaN,NaN,51064997,0,10789997,40275000,2207642,551910.5,417038,4219835,0,960606,3259229,2562301.558645,0,449780,2112521.558645,1561943.5,0,15A

In [33]:
#import data from tab 09D
df_09D = pd.read_excel(file_location, sheet_name='09D')

In [34]:
#create column for series name 09D
df_09D['Series'] = '09D'

In [35]:
df_09D

,Unnamed: 0,University System of Maryland,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,NaN,2009 Series D Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
1,NaN,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NaN,UMBC,NaN,183295,93463,89832,0,7332,1832.5,0,8247,4201,4046,0,7471.661609,3812,3659,0.661609,5112.5,0,09D
258,NaN,UMCES,NaN,357,181,176,0,14,3,0,-2,-10,8,0,27.325661,22,7,-1.674339,10,0,09D
259,NaN,USM Office,NaN,74175,37824,36351,0,2967,741.5,0,3344,1707,1637,0,3026.025888,1545,1481,0.025888,2069.5,0,09D
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
261,NaN,Totals,NaN,4040007,2060018,1979989,0,161599,40398,0,181911,92744,89167,0,164596.843333,83956,80644,-3.156667,112678,0,09D

In [36]:
#rearrange columns
df_09D1 = df_09D.pop("University System of Maryland")
df_09D.insert(0,'Project',df_09D1)

In [37]:
df_09D

,Project,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2009 Series D Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,UMBC,NaN,NaN,183295,93463,89832,0,7332,1832.5,0,8247,4201,4046,0,7471.661609,3812,3659,0.661609,5112.5,0,09D
258,UMCES,NaN,NaN,357,181,176,0,14,3,0,-2,-10,8,0,27.325661,22,7,-1.674339,10,0,09D
259,USM Office,NaN,NaN,74175,37824,36351,0,2967,741.5,0,3344,1707,1637,0,3026.025888,1545,1481,0.025888,2069.5,0,09D
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
261,Totals,NaN,NaN,4040007,2060018,1979989,0,161599,40398,0,181911,92744,89167,0,164596.843333,83956,80644,-3.156667,112678,0,09D

In [38]:
#delete column not in use
df_09D.drop('Unnamed: 0', axis=1)

,Project,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series
0,2009 Series D Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,UMBC,NaN,183295,93463,89832,0,7332,1832.5,0,8247,4201,4046,0,7471.661609,3812,3659,0.661609,5112.5,0,09D
258,UMCES,NaN,357,181,176,0,14,3,0,-2,-10,8,0,27.325661,22,7,-1.674339,10,0,09D
259,USM Office,NaN,74175,37824,36351,0,2967,741.5,0,3344,1707,1637,0,3026.025888,1545,1481,0.025888,2069.5,0,09D
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
261,Totals,NaN,4040007,2060018,1979989,0,161599,40398,0,181911,92744,89167,0,164596.843333,83956,80644,-3.156667,112678,0,09D

In [39]:
#split column by hypthen to separate institution from project name
df_09D_split = df_09D["Project"].str.split("-",expand=True)
df_09D_split

                               0     1
0    2009 Series D Revenue Bonds  None
1              FYE June 30, 2021  None
2                            NaN   NaN
3                            NaN   NaN
4                            NaN   NaN
..                           ...   ...
257                         UMBC  None
258                        UMCES  None
259                   USM Office  None
260                          NaN   NaN
261                       Totals  None

[262 rows x 2 columns]

In [40]:
#combine data frame from split with previous data frame to get all the data
df_09D = pd.concat([df_09D,df_09D_split], axis=1)

In [41]:
df_09D

,Project,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series,0,1
0,2009 Series D Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,2009 Series D Revenue Bonds,None
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,"FYE June 30, 2021",None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,UMBC,NaN,NaN,183295,93463,89832,0,7332,1832.5,0,8247,4201,4046,0,7471.661609,3812,3659,0.661609,5112.5,0,09D,UMBC,None
258,UMCES,NaN,NaN,357,181,176,0,14,3,0,-2,-10,8,0,27.325661,22,7,-1.674339,10,0,09D,UMCES,None
259,USM Office,NaN,NaN,74175,37824,36351,0,2967,741.5,0,3344,1707,1637,0,3026.025888,1545,1481,0.025888,2069.5,0,09D,USM Office,None
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
261,Totals,NaN,NaN,4040007,2060018,1979989,0,161599,40398,0,181911,92744,89167,0,164596.843333,83956,80644,-3.156667,112678,0,09D,Totals,None

In [42]:
#reassign column headers
df_09D['Project'] = df_09D[1]
df_09D['Unnamed: 0'] = df_09D[0]

In [43]:
df_09D

,Project,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Series,0,1
0,None,2009 Series D Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,2009 Series D Revenue Bonds,None
1,None,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,"FYE June 30, 2021",None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,None,UMBC,NaN,183295,93463,89832,0,7332,1832.5,0,8247,4201,4046,0,7471.661609,3812,3659,0.661609,5112.5,0,09D,UMBC,None
258,None,UMCES,NaN,357,181,176,0,14,3,0,-2,-10,8,0,27.325661,22,7,-1.674339,10,0,09D,UMCES,None
259,None,USM Office,NaN,74175,37824,36351,0,2967,741.5,0,3344,1707,1637,0,3026.025888,1545,1481,0.025888,2069.5,0,09D,USM Office,None
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D,NaN,NaN
261,None,Totals,NaN,4040007,2060018,1979989,0,161599,40398,0,181911,92744,89167,0,164596.843333,83956,80644,-3.156667,112678,0,09D,Totals,None

In [44]:
#delete columns no longer in use since this is a duplicate
df_09D = df_09D.drop([0,1], axis=1)

In [45]:
df_09D.columns = column_list

In [46]:
df_09D

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,None,2009 Series D Revenue Bonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
1,None,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,None,UMBC,NaN,183295,93463,89832,0,7332,1832.5,0,8247,4201,4046,0,7471.661609,3812,3659,0.661609,5112.5,0,09D
258,None,UMCES,NaN,357,181,176,0,14,3,0,-2,-10,8,0,27.325661,22,7,-1.674339,10,0,09D
259,None,USM Office,NaN,74175,37824,36351,0,2967,741.5,0,3344,1707,1637,0,3026.025888,1545,1481,0.025888,2069.5,0,09D
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09D
261,None,Totals,NaN,4040007,2060018,1979989,0,161599,40398,0,181911,92744,89167,0,164596.843333,83956,80644,-3.156667,112678,0,09D

In [47]:
#create a list of tabs that need to have four columns inserted to match structure of other tabs
add_columns = ['19A','18A','17A','16A','14A','12C','11A','10DE','10AB']

In [48]:
new_df = []

In [49]:
#function to pass in tabs and have four columns inserted and add series name
def adding_columns(add_columns):
    #loading the excel with each tab need columns added
    df_columns = pd.read_excel(file_location, add_columns)
    df_columns.insert(14,'Allocation_of_Unamort.Loss/(Gain)_Old','')
    df_columns.insert(15,'Allocationof_Loss/(Gain)','')
    df_columns.insert(16,'FY_2021AmortizationofLoss/(Gain)','')
    df_columns.insert(17,'Allocation_of_Unamort.Loss/(Gain)_New','')
    df_columns['Series'] = add_columns
    df_columns.columns = column_list
    return df_columns

In [50]:
#test and pass in tab 19A to see four columns inserted
df_19A = adding_columns('19A')

In [51]:
df_19A

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
0,2019 Series A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,19A
1,"FYE June 30, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,19A
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accrued,Accrued,Allocation,NaN,FY 2021,Allocation,,,,,NaN,NaN,19A
3,NaN,NaN,NaN,NaN,Allocation,FY 2021,NaN,FY 2021,Interest,Interest,of Unamort.,Allocation,Amortization,of Unamort.,,,,,FY 2021,FY 2021,19A
4,NaN,NaN,Academic,Debt,of,Principal,Debt,Interest,Payable,Payable,Premium,of,of,Premium,,,,,Interest,Capitalized,19A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,19A
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,19A
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,19A
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,19A
112,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,,,,,0,NaN,19A

In [52]:
#call function to pass in the other tabs to have four columns inserted
df_18A = adding_columns('18A')
df_17A = adding_columns('17A')
df_16A = adding_columns('16A')
df_14A = adding_columns('14A')
df_12C = adding_columns('12C')
df_11A = adding_columns('11A')
df_10DE = adding_columns('10DE')
df_10AB = adding_columns('10AB')

In [53]:
df_multiple = [df_21B, df_12AB, df_21A, df_16B, df_15A, df_09D, df_19A, df_18A, df_17A, df_16A, df_14A, df_12C, df_11A, df_10DE, df_10AB]

In [54]:
add_tabs = ['10C','11B','12D','17B','19B','19C']

In [55]:
#function to pass in tabs to have series column added
def import_tabs(add_tabs):
    #loading the excel with each tab need columns added
    df_tabs = pd.read_excel(file_location, add_tabs)
    df_tabs['Series'] = add_tabs
    df_tabs.columns = column_list
    return df_tabs

In [56]:
df_total = pd.concat(df_multiple)

In [57]:
df_total

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
26,New College of Liberal Arts,TU,Academic,NaN,71894,NaN,71894,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-1496,NaN,-1496,0,NaN,21B
27,Facilities Renewal,TU,Academic,NaN,34842,NaN,34842,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-725,NaN,-725,0,NaN,21B
46,Burdick Renov,TU,Auxiliary,NaN,469937,NaN,469937,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-9778,NaN,-9778,0,NaN,21B
47,Residence Halls Renov,TU,Auxiliary,NaN,601030,NaN,601030,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-12505,NaN,-12505,0,NaN,21B
48,Student Housing-West Village PHII,TU,Auxiliary,NaN,7921,NaN,7921,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-165,NaN,-165,0,NaN,21B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,UMBC,NaN,332461,0,332461,0,9723,2432,0,8656,0,8656,0,,,,,-1365,0,10AB
121,NaN,UMCES,NaN,1534,0,1534,0,45,11,0,41,0,41,0,,,,,-7,0,10AB
122,NaN,USM Office,NaN,53656,0,53656,0,1570,392.5,0,1410,0,1410,0,,,,,-232.5,0,10AB
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,NaN,NaN,10AB
124,Total Projects,NaN,NaN,6040000,0,6040000,0,176667,44167.5,0,157280,0,157280,0,,,,,-24780.5,0,10AB

In [58]:
#call function to have series name added to the end
df_10C = import_tabs('10C')
df_11B = import_tabs('11B')
df_12D = import_tabs('12D')
df_17B = import_tabs('17B')
df_19B = import_tabs('19B')
df_19C = import_tabs('19C')

In [59]:
df_multiple2 = [df_10C, df_11B, df_12D, df_17B, df_19B, df_19C]

In [60]:
#combine all data frame tabs together in a list
df_final_multiple = [df_21B, df_12AB, df_21A, df_16B, df_15A, df_09D, df_19A, df_18A, df_17A, df_16A, df_14A, df_12C, df_11A, df_10DE, df_10AB, df_10C, df_11B, df_12D, df_17B, df_19B, df_19C]

In [61]:
#use concat to combine the data
df_final_total = pd.concat(df_final_multiple)

In [62]:
#export All institutions Excel to local computer
df_final_total.to_excel(destination_location, index = False)

In [63]:
df_final_TU = df_final_total[~df_final_total.Project.isnull()]

In [64]:
df_final_TU

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
26,New College of Liberal Arts,TU,Academic,NaN,71894,NaN,71894,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-1496,NaN,-1496,0,NaN,21B
27,Facilities Renewal,TU,Academic,NaN,34842,NaN,34842,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-725,NaN,-725,0,NaN,21B
46,Burdick Renov,TU,Auxiliary,NaN,469937,NaN,469937,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-9778,NaN,-9778,0,NaN,21B
47,Residence Halls Renov,TU,Auxiliary,NaN,601030,NaN,601030,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-12505,NaN,-12505,0,NaN,21B
48,Student Housing-West Village PHII,TU,Auxiliary,NaN,7921,NaN,7921,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-165,NaN,-165,0,NaN,21B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Total Academic Projects,NaN,NaN,19773568,0,0,19773568,891176,222794,222793.5,3841092,0,384112,3456980,51883,0,5184,46699,512247.5,0,19C
154,Auxiliary Projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19C
170,Total Auxiliary Projects,NaN,NaN,88191432,0,0,88191432,3974722,993680.5,993680.5,17131528,0,1713158,15418370,249597,0,24952,224645,2286516,0,19C
173,Total Projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19C
189,Total Projects,NaN,NaN,107965000,0,0,107965000,4865898,1216474.5,1216474,20972620,0,2097270,18875350,301480,0,30136,271344,2798763.5,0,19C

In [65]:
df_final_TU = df_final_TU[(df_final_TU['Institution'] == 'TU') | (df_final_TU['Institution'] == 'TU ')]

In [66]:
df_final_TU

,Project,Institution,Academic/Auxiliary,Debt_Old,Allocation_of_debt,FY_2021Principal_Paid,Debt_New,FY_2021InterestPaid,Accrued_InterestPayable_Old,Accrued_InterestPayable_New,Allocation_of_Unamort.Premium/(Dis)_Old,Allocation_of_Premium/(Dis),FY_2021AmortizationofPremium/(Dis),Allocation_of_Unamort.Premium/(Dis)_New,Allocation_of_Unamort.Loss/(Gain)_Old,Allocationof_Loss/(Gain),FY_2021AmortizationofLoss/(Gain),Allocation_of_Unamort.Loss/(Gain)_New,FY_2021InterestExpense,FY_2021CapitalizedInterest,Series
26,New College of Liberal Arts,TU,Academic,NaN,71894,NaN,71894,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-1496,NaN,-1496,0,NaN,21B
27,Facilities Renewal,TU,Academic,NaN,34842,NaN,34842,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-725,NaN,-725,0,NaN,21B
46,Burdick Renov,TU,Auxiliary,NaN,469937,NaN,469937,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-9778,NaN,-9778,0,NaN,21B
47,Residence Halls Renov,TU,Auxiliary,NaN,601030,NaN,601030,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-12505,NaN,-12505,0,NaN,21B
48,Student Housing-West Village PHII,TU,Auxiliary,NaN,7921,NaN,7921,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,-165,NaN,-165,0,NaN,21B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Residence Halls Renovations,TU,Auxiliary,2887503,NaN,NaN,2887503,130134,32533.5,32533.5,560909,NaN,56090,504819,5828,NaN,582,5246,74626,NaN,19C
122,Towson Center Arena,TU,Auxiliary,2863222,NaN,NaN,2863222,129040,32260,32260,556192,NaN,55620,500572,5779,NaN,578,5201,73998,NaN,19C
123,West Village Dining Commons,TU,Auxiliary,4151537,NaN,NaN,4151537,187102,46775.5,46775.5,806453,NaN,80646,725807,8379,NaN,838,7541,107294,NaN,19C
124,West Village Parking Structure,TU,Auxiliary,5258597,NaN,NaN,5258597,236996,59249,59249,1021504,NaN,102150,919354,10614,NaN,1062,9552,135908,NaN,19C
125,West Village Infrastructure & Site Improv,TU,Auxiliary,24265,NaN,NaN,24265,1094,273.5,273.5,4713,NaN,472,4241,49,NaN,4,45,626,NaN,19C

In [67]:
#Export only TU Institution Excel to local computer
df_final_TU.to_excel(destination_location2, index = False)